/*custom css code*/
.fa{
    color:white;
}
.icon_social{
    font-size: 2em;
    transition: 0.3s linear;
}
.footer_text{
    font-size: 1em;
    margin:20px;
}
.icon_social:hover{
    background-color: blueviolet;
}
html {
    scroll-behavior: smooth;
  }